@charset "UTF-8";
/* CSS Document */
img {
	width: 100%;
}

html, body{
	font-family: sans-serif;
}

cite {
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight:300;
	color:#8F5253;
	float: right;
}

figcaption{
	color:#89696A;
}

h1{
	color:#813335;
}

dl{
	overflow:hidden;
}
/* Overflow hidden is a clearfix
It reminds the <dl> to wrap around its floated children*/

dt {
	float:left;
	clear:left;
	width: 8em;
}
dd {
	float:left;
	margin: 0;
	padding: 0;
}
